@font-face {
  font-family: 'monoplex';
  font-weight: 300;
  src: url(font/MonoplexKR-Light.ttf);
}

@font-face {
  font-family: 'monoplex';
  font-weight: 400;
  src: url(../font/MonoplexKR-Regular.ttf);
}

@font-face {
  font-family: 'monoplex';
  font-weight: 500;
  src: url(../font/MonoplexKR-Medium.ttf);
}

@font-face {
  font-family: 'monoplex';
  font-weight: 600;
  src: url(../font/MonoplexKR-Bold.ttf);
}

@font-face {
  font-family: 'mooplex';
  font-weight: 700;
  src: url(../font/MonoplexKR-SemiBold.ttf);
}

* {
scroll-behavior: smooth;
}


body {
  font-family: 'monoplex';
  font-size: 16px;
  position: relative;
  line-height: 160%;
}


.t_hidden {
  display: block;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  width: 100%;
  height: 120px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
}

header .h_top {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #55555546;
}

header .h_top .h_topinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1680px;
  gap: 0 2rem;
  margin: auto;

}

header .h_top .h_topinner .join {
  display: flex;
  gap: 1rem;
}

header .h_top .h_topinner .join :first-child::after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 10px;
  margin-left: 12px;
  background-color: #000;
}

header .h_inner {
width: 100%;
max-width: 1680px;
height: 80px;
background-color: #fff;
display: flex;
align-items: center;
justify-content: space-between;
margin: auto;
}

header .h_inner .menu {
width: 70%;
display: flex;
align-items: center;
justify-content: space-between;
}

header .h_inner .menu>li {
width: 20%;
line-height: 80px;
font-size: 1.1rem;
font-weight: 500;
text-align: center;
position: relative;
}

header .h_inner .menu li a {
display: block;
}

header .h_inner .menu>li:hover {
color: #8E1537;
font-weight: 700;
}

header .h_inner .menu>li .submenu {
width: 100%;
line-height: 50px;
background-color: #fff;
position: absolute;
color: #000;
font-size: 1rem;
font-weight: 400;
display: none;
}

header .h_inner .menu>li .submenu>li {
transition: 0.3s;
}


header .h_inner .menu>li .submenu>li:hover {
font-weight: 600;
color: #8E1537;
}

header .h_inner .menubar {
  width: 40px;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.hambar_menu {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  right: -300%;
  padding: 3rem;
  transition: .4s;
  top: 0;
  overflow-y: scroll;
}

.hambar_menu .ham_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;

}

.hambar_menu .ham_top .xbtn {
  width: 24px;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.hambar_menu .ham_menu .bigt {
  line-height: 100px;
  font-size:1.8rem;
  font-weight: 700;
}

.hambar_menu .ham_menu .bigt a {
  display: block;
}

.hambar_menu .ham_menu .bigt .ham_sub {
  line-height: 60px;
  font-size: 1.2rem;
  font-weight: 500;
  display: none;
}


footer {
  width: 100%;
  padding: 4rem 0;
  border-top: 1px solid #999;
  font-size: 1.1rem;
}

footer .f_inner{
  width: 100%;
  max-width: 1680px;
  margin: auto;
}

footer .f_inner .flogo {
  width: fit-content;
  height: fit-content;
  margin-bottom: 4rem;
}

footer .f_inner .f_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;

}

footer .f_inner .f_wrap .left .bold {
  font-weight: 700;
  margin-right: 2rem;
}

footer .f_inner .f_wrap .left .left_texttop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 0 2rem;
}

footer .f_inner .f_wrap .left .left_text {
  display: flex;
}

footer .f_inner .f_wrap .left .left_text .address p:first-child {
  margin-bottom: 1rem;
}

footer .f_inner .f_wrap .right {
  width: 30%;
  height: 100%;
}

footer .f_inner .f_wrap .right .icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 2rem;
}

footer .f_inner .f_wrap .right .icon a img {
  height: 40px;
}

footer select {
width: 100%;
height: 30px;
text-align: center;
font-size: 1rem;
border: 1px solid #555;
color: #555;
}

footer .f_inner .copy {
  text-align: center;
  font-weight: 400;
  color: #333;
  line-height: 160%;
} 

.topbtn {
  display: none;
  width: 60px;
  height: 60px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: #8E1537;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 9;
}


/* media */


@media screen and (max-width:1800px) {
  .h_topinner, .h_inner,#banner,#best, #riving, #giftset, #news, footer .f_inner {
      padding: 0 2rem;
  }
}

@media screen and (max-width:1400px) {

  header .h_inner .menu {
      width: 80%;
  }
}

@media screen and (max-width:1280px) {
  html {
      font-size: 15px;
  } 
  
  header .h_inner .menu {
      display: none;
  }

  header .h_inner .menubar {
      display:block;
  }
}


@media screen and (max-width:991px) {
  .h_topinner, .h_inner,#banner,#best, #riving, #giftset, #news, footer .f_inner {
    padding: 0 1rem;
  }

  footer .f_inner .f_wrap .left .left_texttop {
    flex-direction: column;
    gap: 2rem 0;
    margin-bottom: 2rem;
  }

}


@media screen and (max-width:767px) {

  html {
    font-size: 14px;
  }

  footer {
    font-size: 1.1rem;

    }
    footer .f_inner .flogo {
      margin: auto;
      margin-bottom: 6rem;
  }

  footer .f_inner .f_wrap {
    margin-bottom: 4rem;
  }

  footer .f_inner .f_wrap .left {
    margin-bottom: 4rem;
  }

  footer .f_inner .f_wrap .left .bold {
    margin-right: 1rem;
}

  footer .f_inner .f_wrap .right {
    margin-bottom: 4rem;
  }


  footer .f_inner .f_wrap .right select {
    width: 100%;
  }


}

@media screen and (max-width:575px) {
  
  footer .f_inner .f_wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .f_inner .f_wrap .left {
  margin-bottom: 6rem;
}


footer .f_inner .f_wrap .right {
  width: 80%;
  align-self: center;
}
}

@media screen and (max-width:400px) {

  footer {
    font-size: 1rem;
  }

  footer .f_inner .f_wrap .left .left_text {
    flex-direction: column;
  }

  footer .f_inner .f_wrap .left .bold {
    margin-bottom: 1.5rem;
  }

}



